<h1 align="center">Customer Feedback</h1>
<div>
  <form #feedbackInfo="ngForm" (ngSubmit)="onSubmit(feedbackInfo)">
    <fieldset>
      <legend>Feedback</legend>
        <div class="form-group">
          <label for="vraag1">Vraag 1: Wat vind je van Jenne Dezaeger?</label>
          <input required ngModel name="vraag1" id="vraag1" #vraag1="ngModel" type="text" class="form-control" placeholder="vraag 1">
          <div class="alert alert-danger" *ngIf="vraag1.touched && !vraag1.valid">Vraag 1 is required</div>
        </div>
      <button class="btn btn-success" [disabled]="!feedbackInfo.form.valid" type="submit" >Submit</button>
    </fieldset>
  </form>
</div>
