<h1>Adminpage</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Date of Birth</th>
    <th>Email</th>
    <th>vraag 1</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tr *ngFor="let customer of CUSTOMER">
    <td>{{customer.firstName}}</td>
    <td>{{customer.lastName}}</td>
    <td>{{customer.birthDate}}</td>
    <td>{{customer.eMail}}</td>
    <td>{{customer.vraag1}}</td>
    <td><button class="btn btn-warning" (click)="updatecustomer(customer.id)">Update</button></td>
    <td><button class="btn btn-danger" (click)="deletecustomer(customer.id)">X</button></td>
  </tr>
</table>
