<div>
  <form>
    <fieldset>
      <legend>Admin Login</legend>
      <div class="form-group form-inline">
        <label for="userName">Username</label>
        <input type="text" name="userName" id="userName" class="form-control">
        <label for="passWord">Password</label>
        <input type="password" name="passWord" id="passWord" class="form-control">
        <button class="btn btn-success">Login</button>
      </div>
    </fieldset>
  </form>
</div>
