<h1 align="center">Customer Feedback</h1>
<div>
  <form #personalInfo="ngForm" (ngSubmit)="onNext(personalInfo)" >
    <fieldset>
      <legend>Personal Information</legend>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input required ngModel name="firstName" id="firstName" #firstName="ngModel" type="text" class="form-control" placeholder="First Name">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is required.</div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input required ngModel name="lastName" type="text" id="lastName" #lastName="ngModel" class="form-control" placeholder="Last Name">
        <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Last Name is required.</div>
      </div>
      <div class="form-group">
        <label for="birthDate">Date of Birth</label>
        <input  required pattern="[0-9]{1,2}-[0-9]{1,2}-[0-9]{4}" ngModel name="birthDate" type="text" id="birthDate" #birthDate="ngModel" class="form-control" placeholder="dd-mm-yyy">
        <div class="alert alert-danger" *ngIf="birthDate.touched && !birthDate.valid">
         <div *ngIf="birthDate.errors.required">Date of Birth is required.</div>
          <div *ngIf="birthDate.errors.pattern">This is not a valid Date of Birth</div>
        </div>
      </div>
      <div class="form-group">
        <label for="eMail">E-Mail Adress</label>
        <input required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" ngModel name="eMail" type="email" id="eMail" #eMail="ngModel" class="form-control" placeholder="E-Mail Adress" email>
        <div class="alert alert-danger" *ngIf="eMail.touched && !eMail.valid">
          <div *ngIf="eMail.errors.required">E-Mail Adress is required.</div>
          <div *ngIf="eMail.errors.pattern">This is not a valid E-Mail Adress.</div>
        </div>
      </div>
      <button class="btn btn-success"
      [disabled]="!personalInfo.form.valid"  type="submit">Next</button>
    </fieldset>
  </form>
</div>
<div>
  <button style="margin-top: 50px;" class="btn btn-primary" (click)="gotoshowcustomer()">ShowCustomer</button>
</div>
