<h1 align="center">Update Customer</h1>
<div>
  <form #personalInfo="ngForm" (ngSubmit)="onUpdate(personalInfo)" >
    <fieldset>
      <legend>Personal Information</legend>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input required ngModel name="firstName" id="firstName" #firstName="ngModel" type="text" class="form-control" placeholder="First Name">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is required.</div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input required ngModel name="lastName" type="text" id="lastName" #lastName="ngModel" class="form-control" placeholder="Last Name">
        <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Last Name is required.</div>
      </div>
      <div class="form-group">
        <label for="birthDate">Date of Birth</label>
        <input  required pattern="[0-9]{1,2}-[0-9]{1,2}-[0-9]{4}" ngModel name="birthDate" type="text" id="birthDate" #birthDate="ngModel" class="form-control" placeholder="dd-mm-yyy">
        <div class="alert alert-danger" *ngIf="birthDate.touched && !birthDate.valid">
          <div *ngIf="birthDate.errors.required">Date of Birth is required.</div>
          <div *ngIf="birthDate.errors.pattern">This is not a valid Date of Birth</div>
        </div>
      </div>
      <div class="form-group">
        <label for="eMail">E-Mail Adress</label>
        <input required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" ngModel name="eMail" type="email" id="eMail" #eMail="ngModel" class="form-control" placeholder="E-Mail Adress" email>
        <div class="alert alert-danger" *ngIf="eMail.touched && !eMail.valid">
          <div *ngIf="eMail.errors.required">E-Mail Adress is required.</div>
          <div *ngIf="eMail.errors.pattern">This is not a valid E-Mail Adress.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="vraag1">Vraag 1: Wat vind je van Jenne Dezaeger?</label>
        <input required ngModel name="vraag1" id="vraag1" #vraag1="ngModel" type="text" class="form-control" placeholder="vraag 1">
        <div class="alert alert-danger" *ngIf="vraag1.touched && !vraag1.valid">Vraag 1 is required</div>
      </div>
      <button class="btn btn-success"
              [disabled]="!personalInfo.form.valid"  type="submit">Update</button>
    </fieldset>
  </form>
</div>
